<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074110417150-esg275gtijk8b6cf8nqc069693esb031.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074110417150-esg275gtijk8b6cf8nqc069693esb031</string>
	<key>API_KEY</key>
	<string>AIzaSyDMuFbPP8kLLcQdHF_E3c31Q1TkEpyFVqg</string>
	<key>GCM_SENDER_ID</key>
	<string>1074110417150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shdevelop.Shopping</string>
	<key>PROJECT_ID</key>
	<string>shopping-8f522</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-8f522.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074110417150:ios:2d92fd023112333a</string>
	<key>DATABASE_URL</key>
	<string>https://shopping-8f522.firebaseio.com</string>
</dict>
</plist>